a {
    text-decoration: none;
}

.full-page {
    /* full page - margins - header - footer */
    min-height: calc(100vh - 48px * 2 - 56px - 142px);
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}