
<h1>All the stocks!</h1>
    <p> Results: 1 - 100</p>
    <ul class="list-group list-group-flush lead mt-3">

        <% for (let i = 0; i <= 100; i++) { %>
            <% const stock = data[i]; %>
            <li class="list-group-item">
                <a href="/stockView/<%= stock %>" class="fw-bold"><%= stock %></a>
            </li>
        <% } %>

    </ul>